---
ingress:
  enabled: true
  certManager: true
  hostname: ${hostname}
  tls: true
  annotations:
    cert-manager.io/cluster-issuer: ${issuer_name}
service:
  annotations:
    service.beta.kubernetes.io/do-loadbalancer-hostname: ${workaround_subdomain_name}
